*{

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

body{

    background-image: url(https://img.myloview.com.br/quadros/fundo-de-papel-amassado-700-74072451.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 50px;
    margin-right: 200px;
}


@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }

  /* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;

      border-color: #000;
      border-width: 3px;

}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;

    margin-left: 80px;
    border-color: #000;
    border-width: 3px;
}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

td img{

  width: 150px;
  height: 150px;

}